{
  "siteTitle": "{{SITE_TITLE}}",
  "siteUrl": "{{SITE_URL}}",
  "vaultPath": "./vault",
  "outputDir": "./site",
  "folderMap": {
    "Characters/PCs": "characters/pcs",
    "Characters/NPCs": "characters/npcs",
    "Locations": "locations",
    "Factions": "factions",
    "Items": "items",
    "Creatures": "creatures",
    "_Campaign": "campaign"
  },
  "excludeSections": ["GM Notes", "DM Notes"]
}
